[template]
src = "prometheus.yml.template"
dest = "/etc/prometheus/prometheus.yml"

# The key below must be changed to match how you named your
# service in the StackEngine CAC.  Don't forget to also adjust
# this value in `/etc/confd/templates/haproxy.cfg.template
keys = [
"apps/SE_SERVICE_DISCOVERY_KEY/containers"
]
reload_cmd = "sv reload prometheus"
